* {
  color: #3b444b;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  background-color: #f8f8ff;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 0 auto 100px;
  max-width: 46vw;
  position: relative;
  text-align: center;
  top: 50px;
}

h1 {
  display: inline-block;
  margin-top: 50px;
  max-width: 500px;
  padding-top: 10px;
  text-align: center;
}

span {
  font-style: italic;
}

ul {
  letter-spacing: 0.5px;
  list-style: none;
}

.list-container {
  display: inline-block;
  margin: 50px auto;
  text-align: center;
}

a:link,
a:visited,
.fa-heart,
span {
  color: #e09aa6;
}

img {
  border-radius: 50%;
  margin-bottom: 50px;
  max-width: 40vw;
}

.img-container {
  margin: 0 auto;
  max-width: 500px;
}

p {
  padding-bottom: 50px;
}

a {
  text-decoration: none;
}
